<div class="w-60 h-screen bg-direct-message">
  <div class="flex flex-col items-center ml-1">
    <input class="rounded pl-1 w-56 h-7 text-white focus:outline-none focus:shadow-outline bg-dark mt-3" id="username" type="text" placeholder="Find or start a conversation">
  </div>
  <div class="mt-3 border-t-2 border-dark">
    <a class="flex m-1 mt-1 hover:bg-grey rounded w-56" href="#">
      <div class="w-11 h-10 rounded-full">
        <!-- <img class="w-5 m-2 ml-5" src="{{userImg}}" alt="friends"> -->
      </div>
      <span class="ml-3 m-1 text-white text-lg font-gg text-text-default hover:text-text-white">Friends</span>
		</a>

    <a class="flex m-1 mt-1 hover:bg-grey rounded w-56" href="#">
      <div class="w-11 h-10 rounded-full">
        <!-- <img class="w-6 m-2 ml-4" src="{{nitroImg}}" alt="nitro"> -->
      </div>
      <span class="ml-3 m-1 text-lg font-gg text-text-default hover:text-text-white">Nitro</span>
		</a>
  </div>
  <div class="mt-3 flex">
    <span class="ml-3 m-1 text-xs font-gg_bold text-text-default hover:text-text-white">DIRECT MESSAGES</span>
    <!-- <img class="w-3 h-3 m-1 mt-1.5 top-0 right-0 relative ml-20" src="{{addImg}}" alt="add"> -->
  </div>

  <a class="flex m-1 mt-1 hover:bg-grey rounded w-56 h-10" routerLink=[]>
    <div class="w-11 h-10 rounded-full relative">
      <img class="w-8 h-8 m-1 ml-3 rounded-full" src="https://i.pinimg.com/736x/96/04/ad/9604ad0b0189142a31d5ade6f063d8ba.jpg" alt="friends">
      <span class="bottom-0 left-8 absolute  w-3.5 h-3.5 bg-online border-2 border-white dark:border-inactive rounded-full"></span>
    </div>
    <span class="ml-3 m-1 mt-1 text-white text-lg font-gg text-text-default hover:text-text-white">Introduction</span>
  </a>

  <a class="flex m-1 mt-1 hover:bg-grey rounded w-56 h-10" href="#">
    <div class="w-11 h-10 rounded-full relative">
      <img class="w-8 h-8 m-1 ml-3 rounded-full" src="https://avatarfiles.alphacoders.com/322/322448.jpg" alt="friends">
      <span class="bottom-0 left-8 absolute  w-3.5 h-3.5 bg-online border-2 border-white dark:border-inactive rounded-full"></span>
    </div>
    <span class="ml-3 m-1 mt-1 text-white text-lg font-gg text-text-default hover:text-text-white">Skills</span>
  </a>

  <a class="flex m-1 mt-1 hover:bg-grey rounded w-56 h-10" href="#">
    <div class="w-11 h-10 rounded-full relative">
      <img class="w-8 h-8 m-1 ml-3 rounded-full" src="https://rare-gallery.com/mocahbig/1363874-Dabi-Boku-No-Hero-AcademiaMy-Hero-Academia-HD-Wallpaper.png" alt="friends">
      <span class="bottom-0 left-8 absolute  w-3.5 h-3.5 bg-online border-2 border-white dark:border-inactive rounded-full"></span>
    </div>
    <span class="ml-3 m-1 mt-1 text-white text-lg font-gg text-text-default hover:text-text-white">Education</span>
  </a>
</div>
